.container {
  height: 55px;
  align-items: center;
  min-width: 1000px;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  z-index: 1;
  top: 20;
  background-color: transparent;

  .menuList {
    display: flex;
    list-style: none;
    align-items: center;
    li {
      display: flex;
      position: relative;
      box-sizing: border-box;
      height: 55px;
      align-items: center;

      .menuName {
        width: 120px;
        box-sizing: border-box;
        height: 55px;
        display: flex;
        margin-right: 10px;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        letter-spacing: -1px;
        &:hover {
          border-bottom: 4px solid #fff;
          color: #fff;
          transition: all 0.15s ease-in-out;
        }
      }
    }
  }
  .inputContainer {
    border: 2px solid white;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 40px;
    .input {
      background-color: transparent;
      width: 240px;
      outline: none;
      border: none;
      color: white;
      box-sizing: border-box;
      display: flex;
      height: 20px;
      font-weight: bold;
      letter-spacing: -1px;

      &:placeholder {
        color: white;
      }
    }
  }
}
