.container {
  width: 1000px;
  margin: 0 auto;
  height: 55px;
  .menuList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      box-sizing: border-box;
      width: 120px;
      height: 55px;

      .menuName {
        width: 80px;
        box-sizing: border-box;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        letter-spacing: -1px;
        color: white;
        &:hover {
          border-bottom: 4px solid #fff;
          transition: all 0.15s ease-in-out;
        }
      }
    }
  }
}
