@keyframes bazzi {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes dao {
  from {
    transform: translateX(800px);
  }
  to {
    transform: translateX(0);
  }
}

.container {
  background-image: url("https://tmi.nexon.com/img/main_bg1.png");
  position: relative;
  background-size: cover;
  background-position: 50%;
  height: 655px;
  min-width: 1300px;
  display: flex;
  justify-content: center;
}

.searchContainer {
  display: flex;
  flex-direction: column;

  .titleB {
    padding-top: 200px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
  }
}

.inputContainer {
  position: absolute;
  z-index: 99;
  top: 30%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 67px;
  width: 30vw;
  border: 5px solid;
  margin: 100px auto;
  border-radius: 33.5px;
  border-color: white;
  padding: 10px;

  .serchInput {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    outline: none;
  }
  ::placeholder {
    color: white;
  }
}

.bazzi {
  position: absolute;
  width: 380px;
  top: 200px;
  left: 0;
  z-index: 1;
  animation: bazzi 0.5s linear;
}

.leftArrow {
  position: absolute;
  width: 447px;
  height: 296px;
  top: 200px;
  left: -70px;
  background-image: url("https://tmi.nexon.com/img/main_left_bg.png");
  background-size: cover;
  background-position: 50%;
  z-index: 1;
  animation: bazzi 0.3s linear;
}

.dao {
  position: absolute;
  width: 380px;
  top: 200px;
  right: 0;
  z-index: 1;
  animation: dao 0.5s ease-in-out;
}

.rightArrow {
  position: absolute;
  width: 527px;
  height: 317px;
  top: 200px;
  right: -70px;
  background-image: url("https://tmi.nexon.com/img/main_right_bg.png");
  background-size: cover;
  background-position: 50%;
  animation: dao 0.3s ease-in-out;
  z-index: 1;
}
